$font: 'Athiti';

@font-face {
  font-family: $font;
  src: local($font), url(./Athiti-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: $font;
  font-size: calc(100vh / 30);
  overflow: hidden;
}

#root {
  height: 100vh;
}