$font: 'Bai Jamjuree';

@font-face {
  font-family: $font;
  src: local($font), url(./BaiJamjuree-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: $font;
  font-size: calc(100vh / 30);
}

#root {
  height: 100vh;
}